{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- ======================================================================================================================== -->
<style>
    p.content {
      margin: 2rem;
      text-align: left;
    }
    h2 {
      font-weight: bold;
      text-align: left;
    }
  
    @media screen and (max-width: 700px) {    
      p.content {
        margin: 1rem;
        font-size: 1rem;
      }
    }
  </style>
  <!-- =============================================================================================================================== -->
  <div class="flex">
    <div class="introDiv mt-5">
      <h1>
        <span style="font-weight: bold">Cookies Policy</span>
      </h1>
      <div class="introText container" style="text-justify: distribute; flex-direction: column">
        <p class='content'>

    This Cookie Policy explains how our website collects, uses, and discloses information obtained from cookies and other similar technologies. By accessing or using our website, you agree to the use of cookies as described in this Policy.

    What are Cookies?

    Cookies are small text files that are stored on your device when you visit a website. They are commonly used to recognize your device and remember your preferences or actions. Cookies do not harm your device and are not used to collect personal information.

    Types of Cookies Used

    We use the following types of cookies on our website:

    Essential Cookies: These cookies are necessary for our website to function properly. They allow you to access our website, navigate our pages, and use our services.

    Performance Cookies: These cookies help us to understand how visitors interact with our website by collecting anonymous information about your browsing habits. This helps us to improve our website and provide a better user experience.

    Functionality Cookies: These cookies allow us to remember your preferences and personalize your experience on our website. They may remember your language preferences, font size, or other settings.

    Targeting Cookies: These cookies are used to deliver relevant advertisements to you based on your interests. They may also be used to limit the number of times you see an advertisement and measure the effectiveness of an advertising campaign.

    Third-Party Cookies

    We may also use third-party cookies on our website. These cookies are set by third-party services that we use to provide additional functionality or to analyze website usage. We have no control over these cookies, and you should review the relevant third-party’s cookie policy for more information.

    Managing Cookies

    Most web browsers allow you to control cookies through their settings. You can choose to accept or reject cookies, delete cookies, or set your browser to notify you when cookies are being used. Please note that disabling cookies may affect your ability to use certain features of our website.

    Changes to this Policy

    We reserve the right to update this Cookie Policy at any time. We encourage you to review this Policy periodically for any changes.

    Contact Us

    If you have any questions or concerns about our Cookie Policy, please contact us at allbooksquotes@gmail.com.



</p>
</div>
</div>
</div>
<!-- ================================================================================================================= -->
{% include 'footer.html' %} 
{% endblock %}