{% extends 'core/base.html' %}
{% load static %}
{% block content %}


    <!-- ======================================================================================================================== -->

    <div><img src="{% static 'img/cover.webp' %}" alt="" class="cover" /></div>

    <!-- =============================================================================================================================== -->

    <div class="flex">
      <div class="container introDiv mt-5">
        <p>
          <span class="your-work">Disclaimer </span>
        </p>
        <div class="introText container">
          Affiliate Disclosure: Please note that some of the content featured on
          this site contains affiliate links. We earn a commission from any
          purchases made through those links. The commissions help to keep the
          website running and cover costs associated with maintaining the site
          and providing you with the best value and resources. All Books Quotes
          is a participant in the Amazon Services LLC Associates Program, an
          affiliate advertising program designed to provide a means for sites to
          earn advertising fees by advertising and linking to Amazon.in,
          Amazon.com and its partner websites. Trademark Legal Notice: All
          product names, logos, and brands are the property of their respective
          owners. All company, product, and service names used in this website
          are for identification purposes only. Use of these names, logos, and
          brands does not imply endorsement.
        </div>
      </div>
    </div>

    <!-- =================================================================================================================================== -->

    <!-- =============================================================================================================================== -->

    <div class="flex">
      <div class="introDiv mt-5">
        <p>
          <span class="your-work">Not Financial Advice </span>
        </p>
        <div class="introText container">
          The information contained on this Website and the resources available
          for download through this website is not intended as, and shall not be
          understood or construed as, financial advice. I am not an attorney,
          accountant or financial advisor, nor am I holding myself out to be,
          and the information contained on this Website is not a substitute for
          financial advice from a professional who is aware of the facts and
          circumstances of your individual situation. We have done our best to
          ensure that the information provided on this Website and the resources
          available for download are accurate and provide valuable information.
          Regardless of anything to the contrary, nothing available on or
          through this Website should be understood as a recommendation that you
          should not consult with a financial professional to address your
          particular information. The Company expressly recommends that you seek
          advice from a professional. Neither the Company nor any of its
          employees or owners shall be held liable or responsible for any errors
          or omissions on this website or for any damage you may suffer as a
          result of failing to seek competent financial advice from a
          professional who is familiar with your situation.
        </div>
      </div>
    </div>

    <!-- =================================================================================================================================== -->
    <!-- =============================================================================================================================== -->

    <div class="flex">
      <div class="container introDiv mt-5">
        <p>
          <span class="your-work">User's Personal Responsibility </span>
        </p>
        <div class="introText container">
          By using this Website, you accept personal responsibility for the
          results of your actions. You agree to take full responsibility for any
          harm or damage you suffer as a result of the use, or non-use, of the
          information available on this Website or the resources available for
          download from this Website. You agree to use judgment and conduct due
          diligence before taking any action or implementing any plan or policy
          suggested or recommended on this Website.
        </div>
      </div>
    </div>

    <!-- =================================================================================================================================== -->

    <div class="flex">
      <div class="container introDiv mt-5">
        <p>
          <span class="your-work">Errors and Omissions</span>
        </p>
        <div class="introText container mt-2">
          This World Wide Web Site is a public resource of general information
          that is intended, but not promised or guaranteed, to be correct,
          complete, and up-to-date. We have taken reasonable steps to ensure
          that the information contained in this Website is accurate, but we
          cannot represent that this Website is free of errors. You accept that
          the information contained on this Website may be erroneous and agree
          to conduct due diligence to verify any information obtained from this
          Website and/or resources available on it prior to taking any action.
          You expressly agree not to rely upon any information contained in this
          website.
        </div>
      </div>
    </div>

    <!-- =================================================================================================================================== -->
    <div class="flex mt-5">
      <div class="container introDiv">
        <p>
          <span class="your-work">Review </span>
        </p>
        <div class="introText container mb-5">
          At various times, we may provide reviews of products, services, or
          other resources. This may include reviews of books, services, and/or
          software applications. Any such reviews will represent the good-faith
          opinions of the author of such review. The products and services
          reviewed may be provided to the Company for free or at a reduced price
          as an incentive to provide a review. Regardless of any such discounts,
          we will provide honest reviews of these products and/or services. You
          recognize that you should conduct your own due diligence and should
          not rely solely upon any reviews provided on this website. We will
          disclose the existence of any discounts or incentives received in
          exchange for providing a review of a product. If you would like more
          information about any such discounts and incentives, send an email to
          allbooksquotes@gmail.com that includes the title of the reviewed
          product as the subject line. We will respond via email and disclose
          any incentives or discounts we received in association with any such
          review.
        </div>
      </div>
    </div>
    <!-- ==========================================================================================================   -->
    <div class="flex mb-5">
      <div class="container introDiv">
        <p>
          <span class="your-work">Affiliate Links </span>
        </p>
        <div class="introText container mb-5">
          From time to time, the Company participates in affiliate marketing and
          may allow affiliate links to be included on some of our pages. This
          means that we may earn a commission if/when you click on or make
          purchases via affiliate links. As a policy, the Company will only
          affiliate with products, services, coaches, consultants, and other
          experts that we believe will provide value to our customers and
          followers. The Company will inform you when one of the links
          constitutes an affiliate link. You recognize that it remains your
          personal responsibility to investigate whether any affiliate offers
          are right for your business and will benefit you. You will not rely on
          any recommendation, reference, or information provided by the Company
          but will instead conduct your own investigation and will rely upon
          your investigation to decide whether to purchase the affiliate product
          or service. This Disclaimer policy was last updated on 3 March 2023.
          For further information, you can send an email to
          allbooksquotes@gmail.com for quick response.
        </div>
      </div>
    </div>
    <!-- ================================================================================================================= -->
    {% include 'footer.html' %}

    {% endblock %}