{% extends 'core/base.html' %}

{% block title %}
<title>All Books Quotes: 50,000+ Best Books Quotes from Bestsellers</title>
{% endblock title %}



{% load static %}
{% block content %}

  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 1rem;
     }
     .social-icons {
      display: flex;
      float: right;
     }

  </style>
    <!-- ======================================================================================================================== -->

    <div>
      <img src="{% static 'img/cover2.jpg' %}" alt="" class="cover" />
    </div>
    <div class="cardsDiv">
      <img src="{% static 'img/book1.jpg' %}" class="cardWidthImg cardWidthImgDis" />
      <img src="{% static 'img/book2.jpg' %}" class="cardWidthImg" />
      <img src="{% static 'img/book3.jpg' %}" class="cardWidthImg cardWidthImgDis" />
    </div>

    <!-- =============================================================================================================================== -->

    <div class="flex">
      <div class="container introDiv mt-5">
        <p>
          <span class="your-work">
            50,000+ Best Books Quotes from Bestsellers
          </span>
        </p>
        <div class="introText container">
          All Books Quotes is a strong community of enthusiastic readers who like to share powerful quotes from the most famous books.
          BookQuoters is a community of readers who enjoy sharing the most
          meaningful, memorable and interesting quotes from great books.
        </div>
        <div class="mt-3 btns">
          <a class="nav-link active mx-2" aria-current="page" href="mailto:allbookquotes@gmail.com">
            <button class="Btn mt-3">Email</button>
          </a>
        </div>
      </div>
    </div>
    
<!-- ==========================================================================================================   -->
<div style="margin: 5rem; " class="mt-5 mb-5" id="cardMargen">
    <div id="mart" style="display: flex; flex-wrap:wrap; justify-content: center;" class="mainWrapper mb-10">    
    </div>
</div>

<a href="#">
<button id="scroll-to-top">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
</a>

{% include 'footer-home.html' %}

{% endblock content %}
