{% extends 'core/base.html' %}
{% load static %}

{% block title %}
<title>All Books Quotes: 50,000+ Best Books Quotes from Bestsellers</title>
{% endblock title %}


{% block content %}
{% comment %} <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7179367717730230"
crossorigin="anonymous"></script> {% endcomment %}

  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 1rem;
     }
     .social-icons {
      display: flex;
      float: right;
     }

  </style>
    <!-- ======================================================================================================================== -->

    <div>
      <img src="{% static 'img/cover.webp' %}" alt="" class="cover" />
    </div>
    <div class="cardsDiv">
      <img alt="Book-cover Image 1" src="{% static 'img/book1.jpg' %}" class="cardWidthImg cardWidthImgDis" />
      <img alt="Book-cover Image 2" src="{% static 'img/book2.jpg' %}" class="cardWidthImg cardWidthImgDis" />
      <img alt="Book-cover Image 3" src="{% static 'img/book3.jpg' %}" class="cardWidthImg cardWidthImgDis" />
    </div>

    <!-- =============================================================================================================================== -->

    <main>
      <article>
        <div class="flex">
          <div class="container introDiv mt-5">
        <p>
          <span class="your-work">
            50,000+ Best Books Quotes from Bestsellers
          </span>
        </p>
        <div class="introText container">
          <p>
            All Books Quotes is a strong community of enthusiastic readers 
            <br>
            who like to share powerful quotes from the most famous books.
          </p>
        </div>
        
      </div>
    </div>
  </article>
    
  <article>
    <!-- ==========================================================================================================   -->
    <div style="margin: 5rem; " class="mt-5 mb-5" id="cardMargen">
      <div id="mart" style="display: flex; flex-wrap:wrap; justify-content: center;" class="mainWrapper mb-10">    
      </div>
    </div>
  </article>
</main>


<a href="#">
<button id="scroll-to-top" aria-label="scroll-to-top">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>
</a>


{% include 'footer-home.html' %}

<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}
