{% extends 'core/base.html' %}

{% block title %}
<title>{{book.count_quotes}}+ quotes from {{book.name}} by {{book.author}}</title>
{% endblock title %}

{% block content %}
{% load static %}
<link
  rel="stylesheet"
  href="{% static 'css/extra.css' %}"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>

<link rel="stylesheet" href="{% static 'css/quotes.css' %}" />
<!-- ======================================================================================================================== -->
<section>
  <div id="topData" class="mainWrapper">
    <div class="album">
     <div>
      <img src="{% static 'img/cover.jpg' %} " alt="" style="width: 100%; max-height: 20rem;" /></div>
      <div class="cardsDiv">
        <img alt="Book cover Image" src="{{book.cover_photo.url}}" class="cardWidthImg" />
      </div>
      <div class="flex">
        <div class="container introDiv mt-5">
          <p>
            <span class="your-work"> {{book.name}} </span>
          </p>
          <div>  {{book.pages}} Pages</div>
          <div class="container">
          {{book.starsHtml|safe}}
          </div>
          <div class="container" style="font-size:0.9rem">{{book.votesHtml|safe}}</div>
          <div class="mt-1 btns">
            <a target="_blank" class="nav-link active mx-2" aria-current="page" href={% if book.affiliate_link %}{{book.affiliate_link}}{% else %}https://amazon.com{% endif %}>
              <button class="Btn mt-1 mb-5" style="width: 12rem">
                Buy On Amazon
           </button>
         </a>
       </div>
     </div>
   </div>   
  </div>
</div>

  <div class="container">
    {% if book.description %}
    <div id="description" style="text-align: center;">
      <p>{{book.description|linebreaksbr }}</p>
    </div>
    {% endif %}
    {% if book.external_link %}
    <div id="externalLink" style="text-align: center;">
      <span style="font-weight: bold;">{{book.source_or_credit_text}}:</span>
      <a href={{book.external_link}}>{{book.external_link_text}}</a>
    </div>
    {% endif %}
  </div>
  
</section>

<section id="single-quote-image">
  <div id="quotes" class="container">
  </div>
</section>


<section>
  <div class="mt-5 mb-5" id="cardMargen">
    <h1 style="display: flex; justify-content: center; font-weight: bold; color: black">
      Related Book Quotes
    </h1>
    <div id="mart" style="display: flex; flex-wrap:wrap; justify-content: center; margin-top: 1rem;" class="mainWrapper mb-10">

    </div>
  </div>
</section>


<a href="#">
  <button id="scroll-to-top" aria-label="scroll-to-top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
</a>

<div class="mb-4">
</div>

<script src="{% static 'js/quotes.js' %}"></script>

{% include 'footer.html' %}
{% endblock %}