<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>
      There’s nothing more importan... - Richard Attenborough - Quotes.Pub
    </title>
    <meta
      name="description"
      content="There’s nothing more important in making movies than the screenplay.... - Richard Attenborough - Quotes.Pub Download Image, Wallpaper and Poster."
    />

    <meta
      name="google-site-verification"
      content="aGVaw6DXLpIHNPb6oQzONKHk_ZiMLlxjr4hBI7-hrbg"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://quotes.pub/favicon.ico"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      crossorigin=""
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&amp;display=swap"
      rel="preload"
      as="font"
    />
    <link
      rel="stylesheet"
      href="https://quotes.pub/css/app.css?id=179e59caac261c8d8370a4fe56c0bdb8"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- endbuild -->
    <link
      rel="alternate"
      type="application/atom+xml"
      href="https://quotes.pub/feed.rss"
      title="Quotes on https://quotes.pub"
    />

    <style>
      .hide {
        display: none !important;
      }

      .show {
        display: inline-block;
      }
      #headerAds {
        width: 100%;
        min-height: 280px;
      }

      section#single-quote-image
        .carousel
        .carousel-inner
        .carousel-item
        .carousel-control-prev,
      section#single-quote-image
        .carousel
        .carousel-inner
        .carousel-item
        .carousel-control-next {
        /*width: auto !important;*/
        border-radius: 30px !important;
        font-weight: bold;
      }
    </style>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Quotation",
        "spokenByCharacter": {
          "@type": "Person",
          "name": "Richard Attenborough"
        },
        "text": "There’s nothing more important in making movies than the screenplay."
      }
    </script>
    <link
      rel="preload"
      href="https://cdn.quotes.pub/1920x1080/theres-nothing-more-important-in-making-mo-690024.jpg"
      as="image"
      imagesrcset="https://cdn.quotes.pub/1920x1080/theres-nothing-more-important-in-making-mo-690024.jpg"
    />

    <link rel="manifest" href="/manifest.json" />

    <!--- Pinterest Domain verification ---->
    <meta name="p:domain_verify" content="3702cfa315095bb9259d5686a51b5f60" />

    <!--MS Validate code--->
    <meta name="msvalidate.01" content="962B006E5800EE44D6F55F1B35F0E44B" />

    <!-- Google ADS -->
    <script
      data-ad-client="ca-pub-9364815987979321"
      async=""
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
      data-checked-head="true"
    ></script>

    <meta
      http-equiv="origin-trial"
      content="Az6AfRvI8mo7yiW5fLfj04W21t0ig6aMsGYpIqMTaX60H+b0DkO1uDr+7BrzMcimWzv/X7SXR8jI+uvbV0IJlwYAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A+USTya+tNvDPaxUgJooz+LaVk5hPoAxpLvSxjogX4Mk8awCTQ9iop6zJ9d5ldgU7WmHqBlnQB41LHHRFxoaBwoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A7FovoGr67TUBYbnY+Z0IKoJbbmRmB8fCyirUGHavNDtD91CiGyHHSA2hDG9r9T3NjUKFi6egL3RbgTwhhcVDwUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="Az6AfRvI8mo7yiW5fLfj04W21t0ig6aMsGYpIqMTaX60H+b0DkO1uDr+7BrzMcimWzv/X7SXR8jI+uvbV0IJlwYAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A+USTya+tNvDPaxUgJooz+LaVk5hPoAxpLvSxjogX4Mk8awCTQ9iop6zJ9d5ldgU7WmHqBlnQB41LHHRFxoaBwoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A7FovoGr67TUBYbnY+Z0IKoJbbmRmB8fCyirUGHavNDtD91CiGyHHSA2hDG9r9T3NjUKFi6egL3RbgTwhhcVDwUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="Az6AfRvI8mo7yiW5fLfj04W21t0ig6aMsGYpIqMTaX60H+b0DkO1uDr+7BrzMcimWzv/X7SXR8jI+uvbV0IJlwYAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A+USTya+tNvDPaxUgJooz+LaVk5hPoAxpLvSxjogX4Mk8awCTQ9iop6zJ9d5ldgU7WmHqBlnQB41LHHRFxoaBwoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A7FovoGr67TUBYbnY+Z0IKoJbbmRmB8fCyirUGHavNDtD91CiGyHHSA2hDG9r9T3NjUKFi6egL3RbgTwhhcVDwUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="Az6AfRvI8mo7yiW5fLfj04W21t0ig6aMsGYpIqMTaX60H+b0DkO1uDr+7BrzMcimWzv/X7SXR8jI+uvbV0IJlwYAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A+USTya+tNvDPaxUgJooz+LaVk5hPoAxpLvSxjogX4Mk8awCTQ9iop6zJ9d5ldgU7WmHqBlnQB41LHHRFxoaBwoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A7FovoGr67TUBYbnY+Z0IKoJbbmRmB8fCyirUGHavNDtD91CiGyHHSA2hDG9r9T3NjUKFi6egL3RbgTwhhcVDwUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="Az6AfRvI8mo7yiW5fLfj04W21t0ig6aMsGYpIqMTaX60H+b0DkO1uDr+7BrzMcimWzv/X7SXR8jI+uvbV0IJlwYAAACFeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A+USTya+tNvDPaxUgJooz+LaVk5hPoAxpLvSxjogX4Mk8awCTQ9iop6zJ9d5ldgU7WmHqBlnQB41LHHRFxoaBwoAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
    <meta
      http-equiv="origin-trial"
      content="A7FovoGr67TUBYbnY+Z0IKoJbbmRmB8fCyirUGHavNDtD91CiGyHHSA2hDG9r9T3NjUKFi6egL3RbgTwhhcVDwUAAACLeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXRhZ3NlcnZpY2VzLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ=="
    />
  </head>

  <body>
    <section id="navbar" style="height: auto !important">
      <div class="container" style="height: auto !important">
        <div class="row" style="height: auto !important">
          <div class="col mx-auto" style="height: auto !important">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavbar"
                aria-expanded="false"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <a href="https://quotes.pub" class="logo text-decoration-none">
                <img
                  alt="navbar-logo"
                  class="mt-2 mb-2"
                  height="50px"
                  src="https://quotes.pub/images/quotes-pub.svg"
                  width="150px"
                />
              </a>
              <span class="invisible"></span>

              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="mx-auto">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="https://quotes.pub/authors"
                        >Authors</a
                      >
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="https://quotes.pub/categories"
                        >Categories</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://quotes.pub/books"
                        >Books</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://quotes.pub/stories"
                        >Stories</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="https://quotes.pub/picture-quotes-maker"
                        >Picture Quotes Maker</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="https://quotes.pub/quote-of-the-day"
                        >Quote Of The Day</a
                      >
                    </li>
                    <li class="nav-item d-block d-lg-none">
                      <a
                        class="nav-link position-relative align-items-center d-flex"
                        href="https://quotes.pub/search"
                      >
                        <svg
                          width="14"
                          height="14"
                          class="me-2"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M10.0302 10.0464C10.9652 9.13567 11.5453 7.8665 11.5453 6.4627C11.5453 3.6912 9.28416 1.44446 6.49484 1.44446C3.70552 1.44446 1.44434 3.6912 1.44434 6.4627C1.44434 9.2342 3.70552 11.4809 6.49484 11.4809C7.87133 11.4809 9.11921 10.9338 10.0302 10.0464ZM10.0302 10.0464L12.5554 12.5556"
                            stroke="#424242"
                            stroke-width="1.2"
                            stroke-linecap="round"
                          ></path>
                        </svg>
                        Search
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="search-box-wrapper d-none d-lg-block">
                <a
                  class="text-decoration-none position-relative align-items-center justify-content-center d-flex"
                  href="https://quotes.pub/search"
                >
                  <svg
                    width="14"
                    height="14"
                    class="me-2"
                    viewBox="0 0 14 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10.0302 10.0464C10.9652 9.13567 11.5453 7.8665 11.5453 6.4627C11.5453 3.6912 9.28416 1.44446 6.49484 1.44446C3.70552 1.44446 1.44434 3.6912 1.44434 6.4627C1.44434 9.2342 3.70552 11.4809 6.49484 11.4809C7.87133 11.4809 9.11921 10.9338 10.0302 10.0464ZM10.0302 10.0464L12.5554 12.5556"
                      stroke="#424242"
                      stroke-width="1.2"
                      stroke-linecap="round"
                    ></path>
                  </svg>
                  Search
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </section>



    <section id="single-quote-image">
      <div class="container">

    {% for i in count %}
        <div class="row">
          <div class="col-12 col-lg-8">


            <div class="wrap-quote-card mt-4">
            <div class="quote-card">
                <div class="q-wrapper">
                <div class="q-i-wrapper">
                    <div class="q-i-container">
                    <a
                        href="https://quotes.pub/q/theres-nothing-more-important-in-making-movies-than-the-scre-690024"
                        aria-label="There’s nothing more important in making movies than the screenplay."
                    >
                        <img
                        data-src="https://cdn.quotes.pub/1920x1080/theres-nothing-more-important-in-making-mo-690024.jpg"
                        width="1920"
                        height="1080"
                        class="w-100 mb-3 ls-is-cached lazyloaded"
                        src="https://cdn.quotes.pub/1920x1080/theres-nothing-more-important-in-making-mo-690024.jpg"
                        />
                    </a>

                    <a
                        class="text-decoration-none quote-text"
                        href="https://quotes.pub/q/theres-nothing-more-important-in-making-movies-than-the-scre-690024"
                    >
                        There’s nothing more important in making movies than the
                        screenplay.
                    </a>
                    </div>
                    <div class="clearfix"></div>

                    <div class="q-i-footer">
                    <div class="q-footer-author">
                        <a
                        href="https://quotes.pub/richard-attenborough-quotes"
                        class="text-decoration-none author-link"
                        >Richard Attenborough</a
                        >
                    </div>
                    <div class="download-link d-block d-md-none d-lg-none">
                        <a
                        href="#"
                        class="btn text-decoration-none w-100 mb-3 fs-5 download-quote"
                        data-quote-id="690024"
                        onclick="tracklinkclick('event', 'Quotes Page','Quote Download','Button Clicked','Download Popup')"
                        >
                        <svg
                            class="me-1"
                            viewBox="0 0 22 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M11 10.9V19m0 0 3.182-3.15M11 19l-3.182-3.15m10.455-.804C19.63 14.52 21 13.32 21 10.9c0-3.6-3.03-4.5-4.546-4.5 0-1.8 0-5.4-5.454-5.4-5.455 0-5.455 3.6-5.455 5.4C4.03 6.4 1 7.3 1 10.9c0 2.42 1.37 3.62 2.727 4.146"
                            stroke="#fff"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            ></path>
                        </svg>
                        Download
                        </a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="social-icon">
                        <a
                            onclick="tracklinkclick('event', 'Quotes Page','Social Share','Button Clicked','Share to Facebook')"
                            href="https://www.facebook.com/sharer/sharer.php?u=http://quotes.pub/q/theres-nothing-more-important-in-making-movies-than-the-scre-690024"
                            class="rounded-circle me-3"
                            rel="nofollow"
                            target="_blank"
                            ><svg
                            viewBox="0 0 10 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M10 .14v3.157L8.187 3.3c-1.424 0-1.696.7-1.696 1.718v2.258h3.387l-.44 3.532H6.491V20H2.958v-9.19H0V7.278h2.957V4.673C2.957 1.65 4.742 0 7.36 0A23.3 23.3 0 0 1 10 .14Z"
                                fill="#A1C1EF"
                            ></path></svg
                        ></a>
                        <a
                            onclick="tracklinkclick('event', 'Quotes Page','Social Share','Button Clicked','Share to Pinterest')"
                            href="https://pinterest.com/pin/create/button/?url=http://quotes.pub/q/theres-nothing-more-important-in-making-movies-than-the-scre-690024&amp;media=https://cdn.quotes.pub/708x1062/theres-nothing-more-important-in-making-mo-690024.jpg&amp;description=There’s nothing more important in making movies than the screenplay.... - Richard Attenborough - Quotes.Pub Download Image, Wallpaper and Poster."
                            class="rounded-circle me-3"
                            rel="nofollow"
                            target="_blank"
                            ><svg
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                            >
                            <path
                                d="M8.617 13.227C8.091 15.981 7.45 18.621 5.549 20c-.586-4.162.861-7.287 1.534-10.605-1.147-1.93.138-5.812 2.555-4.855 2.975 1.176-2.576 7.172 1.15 7.922 3.891.781 5.479-6.75 3.066-9.199C10.369-.275 3.708 3.18 4.528 8.245c.199 1.238 1.478 1.613.511 3.322-2.231-.494-2.897-2.254-2.811-4.6.138-3.84 3.449-6.527 6.771-6.9 4.201-.471 8.144 1.543 8.689 5.494.613 4.461-1.896 9.293-6.389 8.945-1.218-.095-1.728-.699-2.682-1.279z"
                                fill="#A1C1EF"
                            ></path></svg
                        ></a>
                        <a
                            onclick="tracklinkclick('event', 'Quotes Page','Social Share','Button Clicked','Share to Twitter')"
                            href="https://twitter.com/share?url=http://quotes.pub/q/theres-nothing-more-important-in-making-movies-than-the-scre-690024&amp;text=There’s nothing more important in making movies than the screenplay. - Richard Attenborough"
                            class="rounded-circle me-3"
                            rel="nofollow"
                            target="_blank"
                            ><svg
                            viewBox="0 0 20 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M17.952 4.481a14.07 14.07 0 0 1-1.42 6.798c-1.027 2.08-2.55 3.806-4.404 4.99-1.853 1.185-3.964 1.783-6.103 1.728-2.14-.055-4.223-.76-6.025-2.04 2.17.29 4.355-.388 6.074-1.882a3.854 3.854 0 0 1-2.372-.895 4.562 4.562 0 0 1-1.46-2.257c.615.13 1.248.104 1.852-.078-.937-.21-1.778-.777-2.38-1.6a4.868 4.868 0 0 1-.91-2.914c.57.351 1.207.546 1.858.568C1.794 6.256 1.18 5.27.944 4.143a4.976 4.976 0 0 1 .45-3.312 11.961 11.961 0 0 0 3.771 3.37 10.775 10.775 0 0 0 4.684 1.38 5 5 0 0 1 .258-2.909c.372-.911 1.006-1.661 1.802-2.134A3.762 3.762 0 0 1 14.512.06c.891.162 1.71.645 2.328 1.374A7.73 7.73 0 0 0 19.447.332c-.306 1.053-.947 1.946-1.804 2.514A7.581 7.581 0 0 0 20 2.131a8.89 8.89 0 0 1-2.047 2.352"
                                fill="#A1C1EF"
                            ></path></svg
                        ></a>
                        </div>
                        <div class="favourite-icon">
                        <a
                            class="rounded-pill me-2 text-decoration-none next-quote"
                            href="https://quotes.pub/q/if-tomorrow-doesnt-happen-would-you-still-do-what-youre-abou-690025"
                        >
                            Next&nbsp;
                            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                            <path
                                stroke="#C8DEFF"
                                stroke-width="1.333"
                                d="M4.667 1.333 11.333 8l-6.666 6.667"
                                fill="none"
                            ></path>
                            </svg>
                        </a>

                        <div class="download-link d-none d-md-block d-lg-block">
                            <a
                            class="text-decoration-none download-quote"
                            rel="nofollow"
                            target="_blank"
                            onclick="tracklinkclick('event', 'Quotes Page','Quote Download','Button Clicked','Download Popup')"
                            data-quote-id="690024"
                            >
                            <svg
                                class="me-1"
                                viewBox="0 0 22 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                d="M11 10.9V19m0 0 3.182-3.15M11 19l-3.182-3.15m10.455-.804C19.63 14.52 21 13.32 21 10.9c0-3.6-3.03-4.5-4.546-4.5 0-1.8 0-5.4-5.454-5.4-5.455 0-5.455 3.6-5.455 5.4C4.03 6.4 1 7.3 1 10.9c0 2.42 1.37 3.62 2.727 4.146"
                                stroke="#fff"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                ></path>
                            </svg>
                            Download
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>

        </div>
      </div>
      {% endfor %}
    </div>
</section>

  </body>
</html>
