{% extends 'core/base.html' %} {% load static %} {% block content %}

<style>
  p.content {
    margin: 2rem;
    text-align: left;
  }
  h2 {
    font-weight: bold;
    text-align: left;
  }
  @media screen and (max-width: 700px) {  
      p.content {
        margin: 1rem;
        font-size: 1rem;
      }
    }
  
</style>
<div class="flex mb-5">
  <div class="container introDiv mt-5">
    <h1>
      <span style='font-weight: bold'>Terms & Conditions </span>
    </h1>
    <div
      class="introText container mb-5"
      style="text-justify: distribute; flex-direction: column"
    >
      <p class='content'>
        These terms and conditions govern your use of this website; by using
        this website, you accept these terms and conditions in full and without
        reservation. If you disagree with these terms and conditions or any part
        of these terms and conditions, you must not use this website. <br />
      </br></p>
      <h2>License to use Website</h2>
      <p class='content'>
        Unless otherwise stated, and/or its licensors own the intellectual
        property rights published on this website and materials used on All
        Books Quotes. Subject to the license below, all these intellectual
        property rights are reserved. You may view, download for caching
        purposes only, and print pages, files or other content from the website
        for your own personal use, subject to the restrictions set out below and
        elsewhere in these terms and conditions. <br />
      </br></p>
      <h2>You must not:</h2>
      <p class='content'>
        Republish material from this website in neither print nor digital media
        or documents (including republication on another website); , sell, rent,
        or sub-license material from the website; , show any material from the
        website in public; , reproduce, duplicate, copy or otherwise exploit
        material on this website for a commercial purpose; , edit or otherwise
        modify any material on the website; , redistribute material from this
        website – except for content specifically and expressly made available
        for redistribution; or , republish or reproduce any part of this website
        through the use of iframes or screenscrapers. Where content is
        specifically made available for redistribution, it may only be
        redistributed within your organization.
        <br />
      </br></p>
      <h2>Acceptable Use</h2>
      <p class='content'>
        You must not use this website in any way that causes, or may cause,
        damage to the website or impairment of the availability or accessibility
        of or in any way which is unlawful, illegal, fraudulent or harmful, or
        in connection with any unlawful, illegal, fraudulent or harmful purpose
        or activity. You must not use this website to copy, store, host,
        transmit, send, use, publish or distribute any material which consists
        of (or is linked to) any spyware, computer virus, Trojan horse, worm,
        keystroke logger, rootkit, or other malicious computer software. You
        must not conduct any systematic or automated data collection activities
        on or in relation to this website without All Books Quotes’s express
        written consent.
      </br></p>
      <h2>This includes:</h2>
      scraping, data mining, data extraction, data harvesting, ‘framing’
      (iframes), Article ‘Spinning’ You must not use this website or any part of
      it to transmit or send unsolicited commercial communications. You must not
      use this website for any purposes related to marketing without the express
      written consent of All Books Quotes.
      <br />
      <h2>Restricted Access</h2>
      <p class='content'>
        Access to certain areas of this website is restricted. All Books Quotes
        reserves the right to restrict access to certain areas of this website, or
        at our discretion, this entire website. All Books Quotes may change or
        modify this policy without notice.</br></p>
      <h2>User Content</h2>
      <p class='content'>

        In these terms and conditions, “your user content” means material
        (including without limitation text, images, audio material, video
        material, and audio-visual material) that you submit to this website, for
        whatever purpose. You grant a worldwide, irrevocable, non-exclusive,
        royalty-free license to use, reproduce, adapt, publish, translate and
        distribute your user content in any existing or future media. You also
        grant the right to sub-license these rights, and the right to bring an
        action for infringement of these rights. Your user content must not be
        illegal or unlawful, must not infringe any third party’s legal rights, and
        must not be capable of giving rise to legal action whether against you or
        a third party (in each case under any applicable law). You must not submit
        any user content to the website that is or has ever been the subject of
        any threatened or actual legal proceedings or other similar complaints.
        All Books Quotes reserves the right to edit or remove any material
        submitted to this website, or stored on the servers of All Books Quotes,
        or hosted or published upon this website. All Books Quotes’s rights under
        these terms and conditions in relation to user content do not undertake to
        monitor the submission of such content to, or the publication of such
        content on, this website.<br />
      </p>
      <h2>No Warranties</h2>
      <p class='content'>
        This website is provided “as is” without any representations or
        warranties, express or implied. All Books Quotes makes no representations
        or warranties in relation to this website or the information and materials
        provided on this website. Without prejudice to the generality of the
        foregoing paragraph, does not warrant that: , this website will be
        constantly available, or available at all; or , the information on this
        website is complete, true, accurate, or non-misleading. Nothing on this
        website constitutes or is meant to constitute, advice of any kind. If you
        require advice in relation to any legal, financial or medical matter you
        should consult an appropriate professional. <br />
      </p>
      <h2>Limitations of liability</h2>
      <p class='content'>

        All Books Quotes will not be liable to you (whether under the law of
        contact, the law of torts or otherwise) in relation to the contents of, or
        use of, or otherwise in connection with, this website: , to the extent
        that the website is provided free-of-charge, for any direct loss; , for
        any indirect, special or consequential loss; or , for any business losses,
        loss of revenue, income, profits or anticipated savings, loss of contracts
        or business relationships, loss of reputation or goodwill, or loss or
        corruption of information or data. These limitations of liability apply
        even if has been expressly advised of the potential loss. <br />
      </p>
      <h2>Exceptions</h2>
      <p class='content'>

        Nothing in this website disclaimer will exclude or limit any warranty
        implied by law that it would be unlawful to exclude or limit, and nothing
        in this website disclaimer will exclude or limit the liability of in
        respect of any: , death or personal injury caused by the negligence of or
        its agents, employees or shareholders/owners; , fraud or fraudulent
        misrepresentation on the part of; or , matter which it would be illegal or
        unlawful for to exclude or limit, or to attempt or purport to exclude or
        limit, its liability.<br />
      </p>
        <h2>Reasonableness</h2>
      Reasonableness By using this website, you agree that the exclusions and
      limitations of liability set out in this website disclaimer are
      reasonable. If you do not think they are reasonable, you must not use this
      website. Unenforceable provisions If any provision of this website
      disclaimer is or is found to be, unenforceable under applicable law, that
      will not affect the enforceability of the other provisions of this website
      disclaimer. <br />
      <h2>Indemnity</h2>
      <br />
      <p class='content'>
        
        You hereby indemnify and undertake to keep indemnified against any losses,
      damages, costs, liabilities, and expenses (including without limitation
      legal expenses and any amounts paid by to the third party in settlement of
      a claim or dispute on the advice of All Books Quotes’s legal advisers)
      incurred or suffered by arising out of any breach by you of any provision
      of these terms and conditions, or arising out of any claim that you have
      breached any provision of these terms and conditions. Breaches of these
      terms and conditions Without prejudice to All Books Quotes’s other rights
      under these terms and conditions, if you breach these terms and conditions
      in any way, may take such action as deems appropriate to deal with the
      breach, including suspending your access to the website, prohibiting you
      from accessing the website, blocking computers using your IP address from
      accessing the website, contacting your internet service provider to
      request that they block your access to the website and/or bringing court
      proceedings against you. <br />
    </p>
      <h2>Variation</h2>
    <p class='content'>

      All Books Quotes may revise these terms and conditions from time to time.
      Revised terms and conditions will apply to the use of this website from
      the date of the publication of the revised terms and conditions on this
      website. Please check this page regularly to ensure you are familiar with
      the current version.<br />
    </p>
      <h2>Assignment</h2>
      <p class='content'>

        All Books Quotes may transfer, sub-contract, or otherwise deal with All
        Books Quotes’s rights and/or obligations under these terms and conditions
        without notifying you or obtaining your consent. You may not transfer,
        sub-contract, or otherwise deal with your rights and/or obligations under
        these terms and conditions. <br />
      </p>
      <h2>Severability</h2>
      <p class='content'>

        If a provision of these terms and conditions is determined by any court or
        other competent authority to be unlawful and/or unenforceable, the other
      provisions will continue in effect. If any unlawful and/or unenforceable
      provision would be lawful or enforceable if part of it were deleted, that
      part will be deemed to be deleted, and the rest of the provision will
      continue in effect. Entire Agreement These Terms & Conditions, together
      with All Books Quotes’s Privacy Policy constitute the Entire agreement
      between you and in relation to your use of this website and supersede all
      previous agreements in respect of your use of this website. Last updated
      on 3 March 2023. For further information, you can send an email to
      allbooksquotes@gmail.com for a quick response.
    </p>
    </div>
  </div>
</div>

<!-- =================================================================================================================================== -->
{% include 'footer.html' %} {% endblock %}
