<div style="margin-top: 4rem">
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <h1>All Books Quotes</h1>
        <p style='font-size: 1rem;'>All Books Quotes is a strong community of enthusiastic readers who like sharing the best quotes from the most famous books.</p>
      </div>
      <div class="col-sm-6 col-md-4" style="padding-left: 1rem; max-width: 200px; ">
        <h1>Company</h1><ul class='custom-footer-ul'>

          <div>
            <li class="menu-item">
              <a class="custom-footer-link" href="{% url 'about-us' %}">About Us</a>
            </li>
            <li class="menu-item">
              <a class="custom-footer-link" href="{% url 'contact-us' %}">Contact Us</a>
            </li>
              <li class="menu-item">
                <a class="custom-footer-link" href="{% url 'disclaimer' %}">Disclaimer</a>
              </li>
              <li class="menu-item">
                <a class="custom-footer-link" href="{% url 'copy-right' %}">Copyright</a>
              </li>
              <li class="menu-item">
                <a class="custom-footer-link" href="{% url 'privacy-policy' %}">Privacy Policy</a>
              </li>
              <li class="menu-item">
                <a class="custom-footer-link" href="{% url 'terms-and-conditions' %}">Terms of Service</a>
              </li> 
            </div>
        </ul>
      </div>
      <div class="col-md-4">
        <h1>Follow Us</h1>
        <ul class="social-icons">
          <li><a aria-label="Visit ou Facebook profile" href="https://www.facebook.com/profile.php?id=100090612897254"><i class="fab fa-facebook-f"></i></a></li>
          <li><a aria-label="Visit ou Twitter profile" href="https://twitter.com/allbooksquotes"><i class="fab fa-twitter"></i></a></li>
          <li><a aria-label="Visit ou Instagram profile" href="https://www.instagram.com/allbooksquotes/"><i class="fab fa-instagram"></i></a></li>
          <li><a aria-label="Visit ou Linkedin profile" href="https://www.linkedin.com/company/all-books-quotes/"><i class="fab fa-linkedin"></i></a></li>
          <li><a aria-label="Visit ou Pinterest profile" href="https://www.pinterest.com/allbooksquotes/"><i class="fab fa-pinterest"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div style="border-top: .5px solid #7d7d7d;
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
  margin-top: 10px;">
  <small style="margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -.2px;
  text-align: center;
  max-width: 90%;
  padding: 25px 0;">All Books Quotes is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</small></div>
</footer>